<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan folders 1.0</title>
    <link rel="stylesheet" href="/css/teststyle.css">
    <link href="/icon/all.css" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/6cf0f9f84b.js" crossorigin="anonymous"></script> -->
</head>

<body>
    <div class="grid-container">
        <div class="grid-header">
            <nav>
                <a class="nav-top--other" href="/"><i class="fas fa-chevron-right"></i>Queue</a>
                <a class="nav-top--current" href="/links"><i class="fas fa-chevron-right"></i>Links</a>
                <a class="nav-top--other" href="/setup"><i class="fas fa-chevron-right"></i>Options</a>
            </nav>
            <div class="grid-results--info">

                <span>There are <%= links.length %> created links.</span>
            </div>
        </div>
        <div class="grid-results">
            <% if (links.length> 0) { %>
                
                <!-- add filter on top of the list -->
                <div class="grid-links">
                    <div class="grid-links-filter">
                        <span>filter</span>
                    </div>
                    <div class="grid-links-element">
                        <% links.forEach((linkObj, linkIndex)=> { %>
                            <ul>
                                <li>
                                    <form class="grid-links--form" action="/links" method="post">
                                        <input type="hidden" name="id" value="<%= linkObj.id%>">
                                        <div class="grid-links--path">
                                            <%= linkObj.file %>
                                        </div>
                                        <i class="fas fa-link"></i>
                                        <div class="grid-links--symlink">
                                            <%= linkObj.link %>
                                        </div>
                                        <button type="submit">as</button>
                                    </form>
                                </li>
                            </ul>
                            <% }) %>
                    </div>
                </div>
                <% } else { %>
                    <p>There are no links to show.</p>
                    <% } %>
        </div>
</body>

</html>