<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan folders 1.0</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <a href="/">queue</a>
        <a href="/links">links</a>
        <a href="/setup">setup</a>
    </nav>
    <h1>Folder paths are missing.</h1></Folder>
    <p>
         TODO

        Please enter folder path or list of folders paths to be watched, and path for storing created symlinks.
    </p>
    <p>
        Current source directory:<br>
        <%= links.source %><br>
        Current symlink folder:<br>
        <%= links.symlink%>

    </p>
</body>

</html>